.col{
    color: coral;
}
.size{
    font-size: 2rem;
}
.we{
    font-weight: 900;
}
.fam{
    font-family: cursive;
    font-weight: 400;
}
.te
{
    text-align: end;
}
.html
{
    font-size: 30px;
    background-color: cornflowerblue;
    color: white;
}
h1{
    text-align: center;
}